
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% if site.email1 %}
        {% if site.email1 contains '@' %}
          {% assign newemail = site.email1 | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email1 }}">{{ site.email1 }}</a></p>
        {% endif %}
      {% endif %}
	  
	    {% if site.email2 %}
        {% if site.email2 contains '@' %}
          {% assign newemail = site.email2 | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a></p>
        {% endif %}
      {% endif %}

    </div>
  </div>
</section>

<!-- Contact End -->
